# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias de Node / React (Frontend)
node_modules/
dist/
dist-ssr/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Entornos virtuales y caché de Python / FastAPI (Backend)
venv/
env/
__pycache__/
*/__pycache__/
**/*.pyc
*.pyo
*.pyd

# Base de datos local (Inteligencia Artificial y SQLite)
backend/chroma_db/
backend/test.db
*.sqlite3
*.db
*.bin

# Archivos subidos por los usuarios (ZIPs, fotos, etc.)
backend/uploads/*
!backend/uploads/images/
!backend/uploads/avatars/

# Archivos temporales
docx_content.txt

# Variables de entorno
.env
.env.local